*{
    color: #ff9d9d;
}

html{
    background: red;
    box-shadow: inset black 0px 0px 160px -4px;
}

body{
    height: 100vh;
    padding: 10px;
    margin: 0;
}

.theme-btn{
    height: 30px;
    border-radius: 10px;
    color: aqua;
    border: 1px solid aqua;
    background: #474141db;
    position: absolute;
    top: 10px;
    right: 10px;
}

#distribute{
    height: 40px;
    width: 150px;
    font-size: 18px;
    color: red;
    border: 1px solid blue;
    border-radius: 10px;
    background: #9da4ff73;
    color: #0000b7;
}

.cards_on_board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 190px;
}

.title-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card{
    height: 125px;
    width: 80px;
    border-radius: 10px;
    background: rgb(183 183 183);
    color: white;
    border: 1px solid rgb(127 127 127 / 69%);
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 10px; */
    margin: 0px -30px;
    box-shadow: black 0px 0px 20px -6px;
}


